@font-face {
    font-family: 'Calmius Sans';
    src: local('Calmius Sans Low'), local('Calmius-Sans-Low'),
        url('CalmiusSans-Low.woff2') format('woff2'),
        url('CalmiusSans-Low.woff') format('woff'),
        url('CalmiusSans-Low.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }